<h1>Atividades Realizadas no Sistema </h1>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Operação</th>
    <th>Usuario</th>

  </tr>
  <tbody>

  </tbody>



</table>
<!--

<mat-nav-list>
  <mat-list-item *ngFor="let link of links">
    <a matLine href="...">{{ link }}</a>
    <button mat-icon-button (click)="showInfo(link)">
      <mat-icon>info</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>


<mat-list>
  <mat-list-item *ngFor="let message of messages">
    <h3 matLine> {{message.from}} </h3>
    <p matLine> {{message.subject}} </p>
    <p matLine class="demo-2"> {{message.content}} </p>
  </mat-list-item>
</mat-list>


-->
